@model CapstoneV2.Models.Data.BlogEntry

<div class="row">
    <div class="col-xs-12 col-md-8"></div>
    <div class="panel">
        <div class="panel-heading">
            <h3>@Model.Title</h3>
            @Model.DatePosted.ToShortDateString()<br/>
            by @Model.User.FirstName @Model.User.LastName,  @Model.User.JobTitle
        </div>
        <div class="panel-body">
            @Html.Raw(Model.Body)
        </div>
        <div class="panel-footer">
            @foreach (var tag in Model.Tags)
            {
                <span>
                    <a href="@Url.Action("Blog", "Home", new {id = tag.TagId})"><em>#@tag.Name</em></a>
                    &nbsp;
                </span>
            }
        </div>
    </div>
</div>