@model List<CapstoneV2.Models.Data.User>

@{
    ViewBag.Title = "Employees";
}


@section scripts{
    @* TODO: Uncomment Age Gates before deployment/client meetings *@
    @Scripts.Render("~/bundles/agecheck")
}

<div id="works-section">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h1>Meet The Team</h1>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var user in Model)
            {
                <div class="portfolio-items">
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item wow fadeInDown" data-wow-delay="200ms">
                            <div class="hover-bg">
                                <a class="portfolio-link" data-toggle="modal">
                                    <div class="hover-text">
                                        <h4>@user.FirstName @user.LastName</h4>
                                        <p>@user.JobTitle</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(user.ImgPath))
                                    {
                                        <img src="@Url.Content(@user.ImgPath)" class="img-responsive" alt="Project Title">
                                    }
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
