@model CapstoneV2.Web.Models.StaticPageViewModel
@{
    ViewBag.Title = "Edit " + Model.Title;
}

@section headScripts{
    @Scripts.Render("~/bundles/tinymce")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">ViewBag.Title</div>
            <div class="panel-body">
                @using (Html.BeginForm("EditStaticPage", "Admin", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.PageId)
                    @Html.HiddenFor(m => m.DateCreated)

                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { autofocus = true, @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title)
                    @Html.LabelFor(m => m.Body)
                    @Html.TextAreaFor(m => m.Body, new { id = "tinymce" })
                    @Html.ValidationMessageFor(m => m.Body)
                    <button class="btn btn-primary">Edit</button>
                    @Html.ActionLink("Cancel", "ManageStaticPages", "Admin", new {@class="btn btn-danger"})
                }
            </div>
        </div>
    </div>
</div>

